<h1 class="text-3xl">Pokemons list</h1>
<h2 class="text-xl">
  Actual page: {{ currentPage() }}
</h2>

<hr class="my-2" />

@if(!pokemons()) {
  <pokemon-list-skeleton />
}@else {
  <pokemon-list [pokemons]="pokemons()" />
}

@if(currentPage()){
  @let actualPage = currentPage()!;

  <div class="flex justify-between">
    <button
      [disabled]="actualPage === 1"
      [routerLink]="['/pokemons/page', actualPage -1]"
      class="mt-2"
    >Previous</button>
    <button
      [routerLink]="['/pokemons/page', actualPage +1]"
      class="mt-2"
    >Next</button>
  </div>
}
